apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
  namespace: mealie
  labels:
    app: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
      - name: mealie
        image: ghcr.io/mealie-recipes/mealie:v3.1.2
        ports:
        - containerPort: 9000
        volumeMounts:
        - name: mealie-pv-storage
          mountPath: "/app/data"
      volumes:
      - name: mealie-pv-storage
        persistentVolumeClaim:
          claimName: mealie-data

